{% extends 'app_general/base.html' %}
{% load static %}
{% block title %}CHILLBOX Reset Password{% endblock title %}
<!DOCTYPE html>
<html>
<body>

{% block background %}
<body class="sub_page">
  
  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/hero-bg.jpg' %}" alt="">
  </div>
{% endblock background %}



<!-- === header sub_page ===-->
{% block header %}
</div>
{% endblock header %}

{% block page_navbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav  mx-auto ">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">HOME </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'feature' %}">FEATURE </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">ABOUTUS</a>
    </li>
    
  </ul>
{% endblock page_navbar %}

{% block body %}

  <!-- ====== book section ======-->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        

         {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
               <strong>{{message}}</strong>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
         {% endfor %}

        
        <h2>
          Reset Password
        </h2>
      
        
        <div class="col-md-6">
          <div class="form_container">

            {% if validlink %}

            <form action="" method="post">
              {% csrf_token %}

                <br/>

                <label for="password1">Password</label>
                <div class="from-group">
                <input 
                  type="password" 
                  class="form-control" 
                  id="new_password1" 
                  name="new_password1" 
                  placeholder="Password"
                  required
                  />
                </div>

                <label for="password2">Confirm Password</label>
                <div class="from-group">
                <input 
                  type="password" 
                  class="form-control" 
                  id="new_password2" 
                  name="new_password2" 
                  placeholder="Confirm Password"
                  required
                  />
                </div>


              <div class="heading_container heading_center">
                <button class="btn_box" type="submit">Submit</button>
              </div>
            
            </form>


            {% else %}
              
            <h3 class="content-title">ลิ้งค์ใช้การไม่ได้</h3>
            <p>ลิ้งค์หมดอายุ หรือ เคยใช้ไปแล้ว</p>
            <form action="{%url 'index' %}" method="post">
            {% csrf_token %}

            <div class="heading_container heading_center">
              <button class="btn_box">Back to Home</button>
            </div>

            {% endif %}

            </form>


          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- ====== end book section ====== -->

  {% endblock body %}

</body>

</html>

