<!-- Not Change -->

{% extends 'app_general/components/base.html' %}

{% block site_title %}เปลี่ยนรหัสผ่านสำเร็จ - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">แดชบอร์ดของคุณ {{ user.username }}</h3>
    <p>
        <a href="{% url 'dashboard' %}">แดชบอร์ด</a>
        <a href="{% url 'profile' %}">ข้อมูลผู้ใช้</a>
        <a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a>
    </p>
    <h5>ข้อมูลผู้ใช้</h5>
    <form action="{% url 'profile' %}" method="post">
        <p>
        รหัสผ่านของคุณถูกเปลี่ยนแล้ว
        </p>
     </form>

  </div>
</section>
{% endblock %}
