{% extends 'app_general/base.html' %}
{% load static %}
{% block title %}CHILLBOX SignUp{% endblock title %}
<!DOCTYPE html>
<html>
<body>

{% block background %}
<body class="sub_page">
  
  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/hero-bg.jpg' %}" alt="">
  </div>
{% endblock background %}



<!-- === header sub_page ===-->
{% block header %}
</div>
{% endblock header %}

{% block page_navbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav  mx-auto ">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">HOME </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'feature' %}">FEATURE </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">ABOUTUS</a>
    </li>
    
  </ul>
{% endblock page_navbar %}

{% block body %}

  <!-- ====== book section ======-->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">

         {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
               <strong>{{message}}</strong>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
         {% endfor %}

        <h2>
          SignUp
        </h2>
      
        
        <div class="col-md-6">
          <div class="form_container">
            
            <form action="{%url 'register' %}" method="post">
               {% csrf_token %}
               {{ form.non_field_errors }}
               <br />
               {{ form.as_p }}

              <div class="heading_container heading_center">
                <button class="btn_box" type="submit">SignUp</button>
              </div>
              

              <div>
                <h3>
                  Alreadey have? <a href = "{% url 'login' %}">SignIn</a>
                </h3>
              </div>


            </form>


          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- ====== end book section ====== -->

  {% endblock body %}

</body>

</html>